div {
outline:1px solid black;
}

.logo,.left-content,
{width:25%;
float:left;
}

.left-content
{width:25%;
float:left;
background-color:#F8E0F1;
}

.main-content
{width:50%;
float:left;
background-color:#F8E0F1;
}

.right-content
{width:25%;
float:left;
background-color:#F8E0F1;
}

.top-menu
{
width:75%;
float:left;
}

.header
{
background-color:#eee;
color:#800000;
font-family:Arial; 
font-size:20pt;
margin:5px
}

.clear
{
clear:both;
}

.footer
{
background-color:#eee;
}